@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Port+Lligat+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Port Lligat Slab", serif;
    background-color: #f8efde;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7), 
        rgba(0,0,0,0.7)), 
        url(imagenes/bg.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ff8dc2;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #CE967b;

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35PX;
}

.header-content p {
    font-size: 16px;
    color: white;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967b;
    color: white;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #ebad8d;
}

.Sofia {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.Sofia-content {
    text-align: center;
}

.Sofia-content h3 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}


.Sofia-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.Sofia {
    padding: 450px 0;
    background-color: #ebad8d;
    position: relative;
}

.Remedios-content {
    text-align: center;
}

.Remedios-content h3 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.Remedios-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Remedios {
    padding: 30px 0;
    background-color: #ebad8d;
    position: relative;
}

.Alejandra-content {
    text-align: center;
}

.Alejandra-content h3 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.Alejandra-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Alejandra {
    padding: 30px 0;
    background-color: #ebad8d;
    position: relative;
}

.Anok-content {
    text-align: center;
}

.Anok-content h3 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.Anok-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Anok {
    padding: 30px 0;
    background-color: #ebad8d;
    position: relative;
}

.Sora-content {
    text-align: center;
}

.Sora-content h3 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.Sora-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Sora {
    padding: 30px 0;
    background-color: #ebad8d;
    position: relative;
}

.footer {
    padding: 25px 0;
    background-color: #ff8dc2;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link h3 {
    font-size: 18px;
    color: #ebad8d;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 15px;
}

